# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
tests/
pytest_cache/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/
*.pytest_cache/

# VS Code
.vscode/



